<section class="stats container-fluid py-5">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 stat-item">
            <i class="fas fa-user-graduate fa-3x mb-3"></i>
            <span class="counter d-block" data-target="2200">0</span>
            <p>Students</p>
        </div>
        <div class="col-lg-3 col-md-6 stat-item">
            <i class="fas fa-chalkboard-teacher fa-3x mb-3"></i>
            <span class="counter d-block" data-target="50">0</span>
            <p>Teachers</p>
        </div>
        <div class="col-lg-3 col-md-6 stat-item">
            <i class="fas fa-star fa-3x mb-3"></i>
            <span class="counter d-block" data-target="4.5">0</span>
            <div class="review">
                <p>Based on <span class="review-count">150</span> reviews</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 stat-item">
            <i class="fas fa-book-open fa-3x mb-3"></i>
            <span class="counter d-block" data-target="30">0</span>
            <p>Courses</p>
        </div>
    </div>
</section>
