<footer>
    <div class="cont">
        <div class="row">
        <div>
            <a href="#"><img src="assets/img/logo2.png" alt="" width="100"></a>
            <p>
                We are an educational platform dedicated to providing quality online courses and resources to help you succeed.
            </p>
        </div>
        <div>
            <h4>Pages</h4>
            <ul>
            <li><a [routerLink]="['home']">Home</a></li>
            <li *ngIf="user?.role == 'students'"><a [routerLink]="['student']">Students</a></li>
            <li *ngIf="user?.role == 'teachers'"><a [routerLink]="['teacher']">Teachers</a></li>
            <li><a [routerLink]="['contact']">Contact</a></li>
            </ul>
        </div>
        <div>
            <h4>Help</h4>
            <ul>
            <li><a href="mailto:elearn@gmail.com">elearn</a></li>
            <li><a href="https://wa.me/+201063823737" target="_blank">+201063823737</a></li>
            <li><a href="https://maps.app.goo.gl/nQBTXYSC1X31otGf6" target="_blank">Zagazig / Sharkia</a></li>
            <li><a href="https://ipn.eg/S/m7md_ashraf_8/instapay/7iW5z4" target="_blank">Payouts</a></li>
            </ul>
        </div>
        <div>
            <h4>Social</h4>
            <div class="socialButton">
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-youtube"></i></a>
            <a><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Education Learn. All Rights Reserved.</p>
    </div>
    </footer>
