/************** Button **********/
.button-hover {
    --primary-color: #57cc57;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.8em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}
.button-hover .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-hover .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
.button-hover .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
.button-hover:hover {
    background-color: var(--hover-color);
}
.button-hover:hover .arrow {
    background: var(--secondary-color);
}
.button-hover:hover .arrow:before {
    right: 0;
}
/************ carousel ***************/
.carousel-inner img {
    height: 35rem;
    object-fit: cover;
    width: 100%;
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.carousel-caption {
    animation: slideUp 1.5s ease-out;
}