<app-aside></app-aside>

<main>
  <!-- courses section  -->
  <section class="courses-section">
    <div class="d-flex align-items-center gap-4">
      <h2>Here's your courses:</h2>
      <button class="btn btn-primary" [routerLink]="['../enroll-course']">
        Enroll Courses
      </button>
    </div>
    <div class="courses-container row row-cols-1 row-cols-md-3 g-4 mt-5"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (course of enrolledCourses; track course.id) {
      <app-student-cards [cardItems]="course"></app-student-cards>
      }
    </div>
  </section>
</main>
