<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body>
    <div class="contact-container">
        <div class="contact-item">
            <i class="fa-solid fa-location-dot icon"></i>
            <p><strong>Address:</strong> Zagazig , Sharqia</p>
        </div>
        <div class="contact-item">
            <i class="fa-solid fa-phone icon"></i>
            <p><strong>Phone:</strong> <a href="tel:+1235235598">+20 106 382 3737</a></p>
        </div>
        <div class="contact-item">
            <i class="fa-solid fa-paper-plane icon"></i>
            <p><strong>Email:</strong> <a href="mailto:elearn@gmail.com">elearn</a></p>
        </div>
        
        <div class="contact-item">
            <i class="fa-solid fa-globe icon"></i>
            <p><strong>Website:</strong> <a href="https://yoursite.com">yoursite.com</a></p>
        </div>
    </div>

    <div class="contact-page">
        <div class="contact-form-container">
            <h2>Contact Us</h2>
            <form action="" id="contactForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your Name">
                    <span class="error-message" id="nameError"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Your Email">
                    <span class="error-message" id="emailError"></span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="phone" placeholder="Your Phone Number">
                    <span class="error-message" id="phoneError"></span>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Your Message" rows="5"></textarea>
                    <span class="error-message" id="messageError"></span>
                </div>
                <button type="submit" class="submit-button">Send Message</button>
            </form>
        </div>

        <div class="map-container">
            <h3 class="find_map">Find Us on Google Maps</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d607.1643558337445!2d31.4912581021853!3d30.58769901482967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7f1aaab74224d%3A0x9c70d2b2564607d6!2zU2VzY28gQ29tcHV0ZXIgQ28uINi02LHZg9mHINiz2YrYs9mD2Ygg2YTZhNmD2YXYqNmK2YjYqtix!5e0!3m2!1sar!2seg!4v1727547434308!5m2!1sar!2seg" width="800" height="600" style="border:0;" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</body>