<!--aside-->
<app-aside></app-aside>
<!--Attendance-->
<div class="content-wrapper">
<div id="attendance" class="content-section" >
    <h2>Attendance</h2>
    <p>Track student attendance:</p>
    <table class="table table-striped">
     
        <tr class="head">
          <th scope="col">#</th>
          <th scope="col">Student Name</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
     
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Student 1</td>
          <td><span class="badge bg-success">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Student 2</td>
          <td><span class="badge bg-danger">Absent</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Student 3</td>
          <td><span class="badge bg-success">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Student 4</td>
          <td><span class="badge  bg-danger">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Student 5</td>
          <td><span class="badge bg-success">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Student 6</td>
          <td><span class="badge  bg-danger">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Student 7</td>
          <td><span class="badge bg-success">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Student 8</td>
          <td><span class="badge  bg-danger">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Student 9</td>
          <td><span class="badge bg-success">Present</span></td>
          <td>12/09/2024</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Student 10</td>
          <td><span class="badge  bg-danger">Present</span></td>
          <td>12/09/2024</td>
        </tr>
       
         
      </tbody>
    </table>
  </div>
</div>
