<aside class="d-flex flex-column align-items-center justify-content-between">
  <div class="logo">
    <img [src]="studentData.imagePath" width="80px" height="80px" alt="profile image" />
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/student/home']" class="aside-btn active" data-text="Home">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/student/courses']" class="aside-btn" data-text="Courses"
          ><i class="fas fa-book"></i
        ></a>
      </li>
      <li>
        <a [routerLink]="['/student/grades']" class="aside-btn" data-text="Grades"
          ><i class="fas fa-graduation-cap"></i
        ></a>
      </li>
      <li>
        <a
          [routerLink]="['/student/attendence']"
          class="aside-btn"
          data-text="Attendence"
          ><i class="fas fa-user-check"></i
        ></a>
      </li>
      <li>
        <a [routerLink]="['/student/settings']" class="aside-btn" data-text="Settings"
          ><i class="fas fa-cog"></i
        ></a>
      </li>
    </ul>
  </nav>
</aside>
